@body: #1a1a1a;
@base: #b3b3b3;
@primary: #29ae9a;
@secondary: #ff7a7f;

@import 'styles/normalize';
@import 'styles/typo';
@import 'styles/chart';
@import 'styles/description';
@import 'styles/credits';
@import 'styles/legend';
@import 'styles/slider';
