.description {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.description__title {
  font-size: 18px;
  line-height: 1.4;
  font-style: italic;
  font-weight: normal;
  padding-top: 5px;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

